// @font-face {
//   font-family: 'Hatton';
//   src: url('assets/fonts/Hatton_Ultralight.otf') format('opentype');
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Hatton';
//   src: url('assets/fonts/Hatton_Medium_500.otf') format('opentype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
@font-face {
  font-family: 'Hatton';
  src: url('assets/fonts/Hatton.otf') format('opentype');
  font-display: swap;
}


@font-face {
    font-family: 'Edwardian';
    src: url('../fonts/Edwardian.ttf') format('truetype');
    font-display: swap;
}