@font-face {
    font-family: 'Hatton';
    src: url('../fonts/Hatton.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Edwardian';
    src: url('../fonts/Edwardian.ttf') format('truetype');
    font-display: swap;
}

.hoverBtn {
    position: relative;
    width: 120px;
    height: 45px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #890423;
    background: #f6efe9;
    border: 1px solid #890423;
    outline: none;
    font-weight: 400;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;

    &:hover {
        background-color: transparent;
        border: 1px solid #890423;
        outline: none;
    }

    span {
        position: relative;
        z-index: 2;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: #890423;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.5s cubic-bezier(.165, .84, .44, 1);
        z-index: 1;
    }

    &:hover::before {
        transform: scaleY(1);
        transform-origin: bottom;

    }

    &::before {
        transform-origin: top;

    }

    &:hover span {
        color: #fff;
    }
}


#homepage-content {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero-video {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: #eeebe5;

        iframe {
            .html5-video-player {
                background-color: #eeebe5 !important;
            }
        }

        .heroOverlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.1);
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: center;

            .heroContent {
                width: 100%;
                height: auto;
                max-width: 768px;
                text-align: center;
                color: #CFB53A;

                .heroTitle {
                    font-family: "Hatton", sans-serif;
                    font-size: 28px;
                    margin-bottom: 20px;
                    color: #CFB53A;
                }

                .heroHeading {
                    font-family: "Edwardian", sans-serif;
                    font-size: clamp(48px, 5vw, 96px);
                    font-weight: 800;
                    
                }

                .heroDescription {
                    font-family: "Hatton", sans-serif;
                    font-size: 24px;
                    margin-top: 20px;
                    margin-bottom: 25px;
                }

                .heroButton {
                    margin-top: 30px;
                    padding: 10px 20px;
                    font-family: "Hatton", sans-serif;
                    font-size: 18px;
                    color: #CFB53A;
                    background-color: transparent;
                    border: 2px solid #CFB53A;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: #CFB53A;
                        color: black;
                    }
                }
            }
        }
    }

    .hero-video iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 100vh;
        transform: translate(-50%, -50%) scale(1.2);
        z-index: 9;
    }
}

#homeSection2 {
    width: 100%;
    height: 100%;
    background-color: #eeebe5;

    .wrapper {
        width: 100%;
        height: 100%;
        padding: 100px 50px;
        display: flex;
        .textContainer {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .myText {
                font-size: 50px;
                font-weight: 500;
                font-family: "Hatton";
                background-image: url('https://turincastle.previewmysite.online/wp-content/uploads/2026/03/REBOOT-GUIDE-Resources-of-creativity-Design-rotated.jpg');
                background-size: contain;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                color: #7A1E1E;
            }
            .CastleDescription{
                font-size: 2.2rem;
                font-weight: 500;
                letter-spacing: 2px;
                font-family: "Edwardian";
                // background-image: url('https://turincastle.previewmysite.online/wp-content/uploads/2026/03/multrdGolg.jpg') ;
                background-image: url('https://turincastle.previewmysite.online/wp-content/uploads/2026/03/REBOOT-GUIDE-Resources-of-creativity-Design-rotated.jpg');
                background-size: 100px 100px;
                background-repeat: repeat;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                line-height: 1;
                color: #7A1E1E;
            }
        }
        .imageContainer{
            width: 40%;
            height: 100%;
            object-fit: cover;
            display: flex;
            justify-content: center;
            .imageBox{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    filter: contrast(1.2) brightness(0.5);
                }
            }
        }
    }
}

#scrolledInformation {
    width: 100%;
    height: 100%;

    .wrapper {
        width: 100%;
        height: 90vh;
        background: #eeebe5;
        display: flex;

        #scrolledInformationSidebar {
            width: 60%;
            height: 100%;
            padding: min(50px, 5vw);
            overflow-y: hidden;

            .asideImageConainer {
                width: 100%;
                height: calc(100vh - 100px);
                aspect-ratio: 1/0.8;
                display: flex;
                flex-direction: column;
                gap: min(50px, 5vw);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        #scrolledInformationContent {
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .scrolledInformationContentInner {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 20px;
                padding: min(50px, 5vw);
                position: relative;
                .myline{
                    width: 120px;
                    height: 2px;
                    background-image: url('https://turincastle.previewmysite.online/wp-content/uploads/2026/03/REBOOT-GUIDE-Resources-of-creativity-Design-rotated.jpg') ;
                    background-size: cover;
                    position: absolute;
                    top: 10%;
                    left: -50px;
                }
                .myline2{
                    top: 90%;
                }

                h3 {
                    font-family: "Hatton", sans-serif;
                    font-size: 2.8rem;
                    font-weight: 500;
                    margin-bottom: 20px;
                    text-align: left;
                }

                p {
                    font-family: "Hatton", sans-serif;
                    font-size: 1.2rem;
                    font-weight: 200;
                    -webkit-text-stroke: 0.2px #CFB53A;
                }
            }
        }
    }
}

#homepageSlider {
    width: 100%;
    height: 100%;
    background-color: #eeebe5;

    .wrapper {
        width: 100%;
        height: 100%;
        padding: 100px 0;

        .sliderHeader {
            width: 100%;
            padding:0 0 50px 50px;

            .homesliderHeading {
                width: 40%;
                font-family: "Hatton", sans-serif;
                font-size: 36px;
                font-weight: 200;
                color: #7A1E1E;
                -webkit-text-stroke: 1px #7A1E1E;
            }
        }

        .sliderWrapper {
            width: 100%;
            height: 100%;
            height: calc(100vh - 100px);
            display: flex;

            .leftSlider {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .sliderIndicaror {
                    width: 100%;
                    height: 60px;
                    color: #7A1E1E;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-right: 50px;

                    .slideNumbers {
                        font-size: 2.8rem;
                        font-family: "Hatton", sans-serif;
                        font-weight: 500;
                        position: relative;

                    }

                    .slideTitle {
                        font-size: 1.8rem;
                        font-family: "Hatton", sans-serif;
                        font-weight: 900;
                    }
                }

                .slideLeft {
                    width: 100%;
                    height: 100%;
                    min-height: 480px;
                    max-height: 600px;
                    background-color: #eeebe5;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .slideImage {
                        width: 100%;
                        max-width: 300px;
                        height: 100%;
                        background-color: #eeebe5;
                        position: relative;
                        overflow-x: hidden;
                        .overlay{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #eeebe5;
                            z-index: 9;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .slideContent {
                        width: 100%;
                        height: 100%;
                        padding: 50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-end;

                        p {
                            font-size: 1.2rem;
                            line-height: 1em;
                            font-family: "Hatton", sans-serif;
                            font-weight: 200;
                            -webkit-text-stroke: 0.5px #7A1E1E;
                            color: #7A1E1E;
                        }

                    }
                }
            }

            .rightslider {
                width: 50%;
                height: calc(100vh - 100px);
                padding-right:min(50px , 5vw) ;

                .sliderRightImage {
                    width: 100%;
                    height: 100%;
                    background-color: #eeebe5;
                    position: relative;
                    overflow-x: hidden;
                        .overlay{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #eeebe5;
                            z-index: 9;
                        }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .sliderIndicators {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        .slideIndicate {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            background-color: #7a1e1ed2;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            transition: .1s all linear;
                            span {
                                font-size: 2rem;
                                color: #ffffff;
                                line-height: 0.8;
                                padding-bottom: 2px;
                            }
                            &:hover{
                                transform: scale(1.1);
                                background-color: #f6efe9;
                            }
                            &:hover span{color: #7A1E1E;}
                            
                        }
                    }
                }

            }
        }
    }
}

#mapLocation {
    width: 100%;
    height: 100%;
    background-color: #eeebe5;

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;

        .mapLocationContent {
            width: 100%;
        }

        .mapLocationMap {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}






.lines {
    background-image: url('https://turincastle.previewmysite.online/wp-content/uploads/2026/03/REBOOT-GUIDE-Resources-of-creativity-Design-rotated.jpg') !important;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}u
.words{
    background-image: rl('https://turincastle.previewmysite.online/wp-content/uploads/2026/03/REBOOT-GUIDE-Resources-of-creativity-Design-rotated.jpg') !important;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    padding: 0;
}