#homepage-content2 {
  width: 100vw;
  margin: 0 !important;
  padding: 0 !important;
}
#homepage-content2 main#primary {
  margin: 0 !important;
  padding: 0 !important;
}
#homepage-content2 main#primary h1, #homepage-content2 main#primary h2, #homepage-content2 main#primary h3, #homepage-content2 main#primary h4, #homepage-content2 main#primary h5, #homepage-content2 main#primary h6 {
  font-family: "myfont3", sans-serif !important;
  font-weight: 500;
}
#homepage-content2 main#primary #homepageBannerSection2 {
  width: 100%;
}
#homepage-content2 main#primary #homepageBannerSection2 #homeBanner2 {
  width: 100%;
  height: 100%;
  position: relative;
}
#homepage-content2 main#primary #homepageBannerSection2 #homeBanner2 .bannervideo2 {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
#homepage-content2 main#primary #homepageBannerSection2 #homeBanner2 .bannervideo2 video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#homepage-content2 main#primary #homepageBannerSection2 #homeBanner2 .bannerContent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/img/bannerOverlay.png");
  background-size: cover;
  background-position: center;
  z-index: 5;
}
#homepage-content2 main#primary #homepageBannerSection2 #homeBanner2 .bannerContent2 h1 {
  text-align: center;
  font-size: 56px;
  margin-bottom: 50px;
  font-weight: 500;
}
#homepage-content2 main#primary #homepageBannerSection2 #homeBanner2 .bannerContent2 h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
  max-width: 600px;
}
#homepage-content2 main#primary #homepageBannerSection2 #homeBanner2 .bannerImage2 {
  width: 100%;
  height: 300px;
  position: relative;
  padding-bottom: 300px;
}
#homepage-content2 main#primary #homepageBannerSection2 #homeBanner2 .bannerImage2 img {
  width: 100%;
  max-width: 900px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
#homepage-content2 main#primary #videoIntroductionSection2 {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 22;
}
#homepage-content2 main#primary #videoIntroductionSection2 #videoAnimationWrapper2 {
  background-color: #F2F0EE;
  width: 100%;
  height: 100%;
}
#homepage-content2 main#primary #videoIntroductionSection2 #videoAnimationWrapper2 .videoContainerX {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#homepage-content2 main#primary #videoIntroductionSection2 #videoAnimationWrapper2 .videoContainerX video {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: contain;
  object-fit: contain;
  border: 2px solid #F2F0EE;
  box-shadow: inset 0 0 0 5px #F2F0EE;
}
#homepage-content2 main#primary #scrollContentSection2 {
  width: 100%;
  height: auto;
  padding: 80px 20px;
  text-align: center;
  position: relative;
  z-index: 333;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "myfont3", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSection1 {
  width: 100%;
  max-width: 1425px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSection1 .contentSection1_title {
  width: 30%;
  text-align: left;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSection1 .contentSection1_subtitle {
  width: 40%;
  text-align: left;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionLeft {
  width: 100%;
  max-width: 1425px;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionLeft .leftTextContent {
  width: 100%;
  max-width: 450px;
  text-align: left;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionRight {
  width: 100%;
  max-width: 1425px;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionRight .rightTextContent {
  width: 100%;
  max-width: 450px;
  text-align: left;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionRight .rightTextContent .accordianWrapper {
  width: 100%;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionRight .rightTextContent .accordianWrapper .accordianList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionRight .rightTextContent .accordianWrapper .accordianList .accordianItem {
  width: 100%;
  border: 1px solid transparent;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionRight .rightTextContent .accordianWrapper .accordianList .accordianItem .accordianTitle {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionRight .rightTextContent .accordianWrapper .accordianList .accordianItem .accordianTitle h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionRight .rightTextContent .accordianWrapper .accordianList .accordianItem .accordianTitle .accordianIcon {
  display: block;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}
#homepage-content2 main#primary #scrollContentSection2 .scrollContentWrapper .contentSectionRight .rightTextContent .accordianWrapper .accordianList .accordianItem .accordianContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}/*# sourceMappingURL=home.css.map */